[Unit]
Description=VHF Listening Station
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/vhf-listening
Environment=HOME=/home/pi
Environment=QT_QPA_PLATFORM=offscreen
Environment=VIRTUAL_ENV=/home/pi/vhf-listening/venv
Environment=PATH=/home/pi/vhf-listening/venv/bin:/usr/local/bin:/usr/bin:/bin
Environment=LD_LIBRARY_PATH=/usr/local/lib
ExecStart=/home/pi/vhf-listening/venv/bin/python3 /home/pi/vhf-listening/gnuradio/options_0.py
Restart=always
RestartSec=10
SupplementaryGroups=plugdev
PAMName=login

[Install]
WantedBy=multi-user.target